{% extends 'layout.html' %}
{% block body %}

<div class="col-md-4 offset-md-4">
    <div class="card card-body">
        <form action="/add_contact" method="POST">
            <div class="form-group">
                <input required type="text" name="fullname" placeholder="Nombre" class="form-control">
            </div>
            <div class="form-group">
                <input required type="text" name="lastname" placeholder="Apellido" class="form-control">
            </div>
            <div class="form-group">
                <input required type="text" minlength="8" maxlength="8"  name="phone" placeholder="Telefono" class="form-control">
            </div>
            <div class="form-group">
                <input required type="email" name="email" placeholder="correo" class="form-control">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">
                    Agregar contacto
                </button>
            </div>
            <div class="form-group">
                <a href="/" class="btn btn-secondary btn btn-block text-center">
                    Cancelar
                </a>
            </div>
        </form>
    </div>
</div>

{% endblock %}

