{% extends 'layout.html' %}
{% block body %}

<div class="row">
    <div class="col-md-5">
        {% with messages = get_flashed_messages() %}
		  {% if messages %}
			{% for message in messages %}
			  {% if 'success' in message %}
				{% set alert_type = 'success' %}
			  {% elif 'info' in message %}
				{% set alert_type = 'info' %}
			  {% elif 'warning' in message %}
				{% set alert_type = 'warning' %}
			  {% else %}
				{% set alert_type = 'success' %}
			  {% endif %}
              <div class="alert alert-{{ alert_type }} alert-dismissible fade show" role="alert" id="flash-alert">
				<p>{{ message }}</p>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
			  </div>
            {% endfor %}
            {% endif  %}
            {% endwith %}
        <div class="card card-body">
            <form action="/add_contact" method="POST">
                <div class="form-group">
                    <input required type="text" name="fullname" placeholder="Nombre" class="form-control">
                </div>
                <div class="form-group">
                    <input required type="text" name="lastname" placeholder="Apellido" class="form-control">
                </div>
                <div class="form-group">
                    <input required type="tel" minlength="8" maxlength="8"  name="phone" placeholder="Telefono" class="form-control">
                </div>
                <div class="form-group">
                    <input required type="text" name="email" placeholder="correo" class="form-control">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">
                        Agregar contacto
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-7">
        <table class="table table-striped table-bordered bg-white table-sm rounded">
            <thead>
                <tr class="text-center bg-info">
                    <td>No.</td>
                    <td>Nombre</td>
                    <td>Apellido</td>
                    <td>Telefono</td>
                    <td>Correo</td>
                    <td>Acciones</td>
                </tr>
            </thead>
            <tbody>
                {% for contact in contacts %}
                <tr>
                    <td>{{ contact.0}}</td>
                    <td>{{ contact.1}}</td>
                    <td>{{ contact.2}}</td>
                    <td>{{ contact.3}}</td>
                    <td>{{ contact.4}}</td>
                    <td>
                       <!--v class="btn-group" role="group" aria-label="">Editar
                        <button type="button" class="btn btn-warning">Editar</button>
                        <button type="button" class="btn btn-warning">Borrar</button-->

                    </div>


                        <a href="/edit/{{contact.0 }}" class="btn btn-info">
                            <span class="fas fa-edit"></span>
                        </a>
                        <a href="/delete/{{ contact.0 }}" class="btn btn-danger btn-delete">
                            <span class="fas fa-trash"></span>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var flashAlert = document.getElementById('flash-alert');
        
        if (flashAlert) {
            setTimeout(function() {
                flashAlert.style.display = 'none';
            }, 2000);  // 2000 milliseconds = 2 seconds
        }
    });
</script>

{% endblock %}